@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.virtual-friend-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 50px;

  .white-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .action-icon {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #F3F5F6;
    color: #0A2540;
    margin-left: 5px;
    margin-right: 5px;
  }

  .card-title {
    font-family: Quicksand;
    color: #0A2540;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  .card-subtitle {
    color: #3B5166;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.25px;
  }

  .action-icon.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: #DEE2E5;
    border: 1px solid #EBEDEF;
  }

  .virtual-friend .sleeping {
    filter: grayscale(100%);
    opacity: 0.8;
  }

  .virtual-friend {
    border: none;
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    background: none;
    border-radius: 5px;
    background: none !important;
    color: rgba(0, 0, 0, 0.8);  // changed to black
  }  

  .card-img-top {
      border-radius: 8px;
      border: 1px solid var(--navy-100, #EBEDEF);
      width: 93%;
      margin: 0 auto;
  }

  .spawn-button:hover {
    background-color: #0056b3;
  }

  .spawn-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .spawn-button i {
    margin-right: 5px;
  }

  .card-footer {
    background: white;
  }
}

.topia-default-button {
  text-align: center;
  color: #ffffff;
  background: var(--navy-900, #0A2540);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-family: 'Open Sans';
  line-height: 19.6px;
  letter-spacing: 0.25px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem !important;
  text-align: center;
}