@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../public/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.virtual-friend-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 50px;

  .white-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .tooltip-text {
    visibility: hidden;
    background-color: #0A2540;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    opacity: 1;
    max-width: 140px;
    width: max-content;
}

  
  .action-icon-wrapper:hover .tooltip-text {
    visibility: visible;
  }
  
  .action-icon {
    font-size: 16px;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }

  .action-icon-wrapper.disabled {
    cursor: not-allowed;
    background: #DEE2E5;
    border: 1px solid #EBEDEF;
  }

  .card-title {
    font-family: Quicksand;
    color: #0A2540;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  .card-subtitle {
    color: #3B5166;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.25px;
  }

  .virtual-friend .sleeping {
    filter: grayscale(100%);
    opacity: 0.8;
  }

  .virtual-friend {
    border: none;
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    background: none;
    border-radius: 5px;
    background: none !important;
    color: rgba(0, 0, 0, 0.8);  // changed to black
  }  

  .card-img-top {
      border-radius: 8px;
      border: 1px solid var(--navy-100, #EBEDEF);
      width: 320px;
      margin-left: 16px;
      margin-right: 16px;
  }

  .spawn-button:hover {
    background-color: #0056b3;
  }

  .topia-default-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .spawn-button i {
    margin-right: 5px;
  }

  .card-footer {
    background: white;
  }
}

.topia-default-button {
  text-align: center;
  color: #ffffff;
  background: var(--navy-900, #0A2540);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  max-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-family: 'Open Sans';
  line-height: 19.6px;
  letter-spacing: 0.25px;
  width: unset;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem !important;
  text-align: center;
}

.icon-circle-container {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--colors-primary-100, #EBEDEF);
  background: var(--colors-primary-0, #FFF);
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 24px;
  }

.icon-circle-text {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.admin-margin {
  margin-top: 130px;
}

.action-icon-container {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  align-items: center;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--navy-100, #EBEDEF);
  margin: 0 auto;
  width: 320px;
  margin-top: 16px;
}