.experience-container {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  align-items: center;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
}

.xp-badge {
  background-color: #0A2540;
  color: #000000;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px;
  margin-right: 5px;
}

.experience-bar {
  height: 20px;
    background-color: #ECF9F3;
    border-radius: 100px;
    flex-grow: 0.95;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.experience-bar-inner {
  height: 100%;
  background-color: #00875A;
  border-radius: 100px;
}

.level-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000000;
}

.level-text {
  color: #00875A;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  margin-top: 5px;
}