.experience-container {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  align-items: center;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--navy-100, #EBEDEF);
  margin: 0 auto;
  width: 320px;
}

.xp-badge {
  background-color: #0A2540;
  color: #000000;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px;
  margin-right: 5px;
}

.experience-bar {
  height: 20px;
    background-color: #ECF9F3;
    border-radius: 100px;
    flex-grow: 0.95;
    position: relative;
    margin: 0 auto;
}

.experience-bar-inner {
  height: 100%;
  background-color: #00875A;
  border-radius: 100px;
}

.level-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000000;
}

.level-text, .level-text b {
  color: var(--navy-700, #3B5166);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.035px;
}

.level-number {
  color: var(--navy-900, var(--colors-primary-900, #0A2540));
  font-family: 'Quicksand';
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
}