.experience-container {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}

.xp-badge {
  background-color: #0A2540;
  color: #000000;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px;
  margin-right: 5px;
}

.experience-bar {
  height: 20px;
    background-color: #d3d3d3;
    border-radius: 5px;
    flex-grow: 0.95;
    position: relative;
    margin: 0 auto;
}

.experience-bar-inner {
  height: 100%;
  background-color: #0A2540;
  border-radius: 5px;
}

.level-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000000;
}
